Repository ucsb-cs156-s21/proj-mapache-search, pull requests merged in 2021-06, with the labels that each got.

#309 7pm-4 kk Add error message when username does not exist for /mapache whois command
  src/main/java/edu/ucsb/mapache/services/WhoIsService.java
  src/test/java/edu/ucsb/mapache/services/WhoIsServiceTests.java
Labels: 10, S21-7pm-4-Admin

#299 7pm 1 Histogram Chart
  javascript/package-lock.json
  javascript/package.json
  javascript/src/main/pages/AnalyzeMessageData/HistogramOfMessagesByUser.js
  javascript/src/test/pages/AnalyzeMessageData/HistogramOfMessagesByUser.test.js
Labels: S21-7pm-1-Slack-Data

#311 7pm 4 vs/kk /mapache members team-name
  src/main/java/edu/ucsb/mapache/controllers/SlackSlashCommandController.java
  src/main/java/edu/ucsb/mapache/services/MembersListService.java
  src/test/java/edu/ucsb/mapache/controllers/SlackSlashCommandControllerTests.java
  src/test/java/edu/ucsb/mapache/services/MembersListServiceTests.java
Labels: Ready for Staff Review, S21-7pm-4-Admin

#305 7pm-2 -Mini-Epic-SearchHistory
  javascript/src/main/App.js
  javascript/src/main/components/Nav/AppNavbar.js
  javascript/src/main/pages/SearchHistory/SearchHistory.js
  javascript/src/test/pages/SearhHistory/SearchHistory.test.js
  src/main/java/edu/ucsb/mapache/controllers/SearchHistoryController.java
  src/main/java/edu/ucsb/mapache/entities/UserSearch.java
  src/main/java/edu/ucsb/mapache/repositories/UserSearchRepository.java
  src/main/java/edu/ucsb/mapache/services/GoogleSearchService.java
  src/main/java/edu/ucsb/mapache/services/PropertiesService.java
  src/test/java/edu/ucsb/mapache/controllers/SearchHistoryControllerTests.java
  src/test/java/edu/ucsb/mapache/services/PropertiesServiceTests.java
Labels: 20, S21-7pm-2-Google-Search

#317 Replace the userid colume by email #315
  javascript/src/main/pages/SearchHistory/SearchHistory.js
Labels: 10, S21-7pm-2-Google-Search

#295 pc - fix bug in uploader script
  python/importFromSlack/upload_archive.py
Labels: Ready for Staff Review, staff-PR
